.img {
    background-color: #1f232f;
}

.restroom_list_css {
    width: 88%;
    margin-left: 100px;
    margin-right: 50px;
}

.hero {
    margin-bottom: 30px;
}

.message {

    margin: 30px;
}

.message-body {
    height: 80px;
}

.mainImg {
    float: right;
}

.rest-title {
    float: left;
}

.star {
    float: right;
}