<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/sungyoung.css">

    <title>화장실 정보</title>

    <style>
        * {
            font-family: 'Sunflower', sans-serif;

        }
    </style>

    <script>
        $(document).ready(function () {
            show_comment();
            show_restroomInfo();
        });

        function save_comment() {
            {#현재 이 html이 랜딩되고있는 url 추출하기#}
            var url_string = window.location.href;
            var url = new URL(url_string);
            {#url에서 id 추출하기#}
            var param = url.searchParams.get("id");

            let name = $('#name').val()
            let comment = $('#comment').val()
            let star = $('#star').val()
            let rest_id = {{ id }};

            $.ajax({
                type: "POST",
                url: "/review",
                data: {
                    'name_give': name,
                    'comment_give': comment,
                    'star_give': star,
                    'rest_id':rest_id
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        function show_comment() {
            // $('#comment-list').empty()
            let rest_id = {{ id }}
            $.ajax({
                type: "GET",
                url: `/review_api?id=${rest_id}`,
                data: {},
                success: function (response) {
                    let rows = response['comments']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let comment = rows[i]['comment']
                        let star = rows[i]['star']
                        let num = rows[i]['num']

                        let star_image = '⭐'.repeat(star)

                        let temp_html = `<div class="card">
                                                    <div class="card-body">
                                                        <blockquote class="blockquote mb-0">
                                                            <p>${star_image}</p>
                                                            <p>${comment}</p>
                                                            <footer class="blockquote-footer">${name}</footer>
                                                            <div style="display: flex;">
                                                                <div id="update_review" style="margin-right: 10px;">
                                                                    <button type="button" class="btn btn-outline-info">수정</button>
                                                                </div>
                                                                <div id="btn-delete" ">
                                                                    <button onclick="delete_review(${num})" type="button" class="btn btn-outline-danger">삭제</button>
                                                                </div>

                                                            </div>

                                                        </blockquote>
                                                    </div>
                                                </div>`
                        $('#comment-list').append(temp_html)
                    }
                }
            });
        }

        function show_restroomInfo() {
            let rest_id = {{ id }};

            $.ajax({
                type: "GET",
                url: `/detail_api?id=${rest_id}`,
                data: {},
                success: function (response) {
                    let rows = response['details']
                    let name = rows['name']
                    let address = rows['address']

                    let substring = "화장실"

                    let temp_html=``

                    if (name.includes(substring)) {
                        temp_html = `<div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <p class="card-title">${name}</p>
                                                        <p class="card-text">위치: ${address}</p>
                                                    </div>
                                                </div>
                                            </div>`
                    }

                    else {
                        temp_html = `<div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <p class="card-title">${name} 화장실</p>
                                                        <p class="card-text">위치: ${address}</p>
                                                    </div>
                                                </div>
                                            </div>`
                    }
                    $('#detail_info_append').append(temp_html)
                    }
                })
            }

        function delete_review(num) {
            $.ajax({
                type: "POST",
                url: "/review/delete",
                data: {num_give: num},
                success: function (response) {
                    alert(response["msg"])
                }
            });
            window.location.reload()
        }

        function initMap() {
            let map_id_info = {{ map_id_info|tojson }};
            let X = map_id_info["X_WGS84"];
            let Y = map_id_info["Y_WGS84"];

            // The location of Uluru
            const uluru = {lat: Y, lng: X};
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 18,
                center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }
    </script>
</head>

<body>
{#상단#}
<div id="restroom-box" class="card mb-3" style="max-width: 1800px; width: 95%;">
    <div class="row g-0">
        <div class="col-md-4">
            {#지도 여기있어요#}
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=INSERT YOUR KEY&callback=initMap&libraries=&v=weekly" async></script>
            {#지도 여기있어요#}
        </div>
        <div class="col-md-8" id="detail_info_append">
        </div>
    </div>
</div>

{#리뷰 작성란#}
<div class="mypost">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="url" style="background-color: mintcream;">
        <label for="floatingInput">닉네임</label>
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">별점</label>
        <select class="form-select" id="star" style="background-color: mintcream;">
            <option selected>-- 선택하기 --</option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
    </div>
    <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="comment"
                      style="height: 150px; background-color: mintcream;"></textarea>
        <label for="floatingTextarea2">화장실 리뷰</label>
    </div>
    <button onclick="save_comment()" type="button" class="btn btn-dark">리뷰 남기기</button>
</div>


{#리뷰리스트 보여주기#}
<div class="mycards" id="comment-list">

</div>
</body>
</html>

