<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQnVTDXq3aqasDaI0vzZkSaV18hi87nvE&callback=initMap">
    </script>

    <title>화장실 정보</title>

    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Sunflower', sans-serif;

        }


        .mypost {
            width: 95%;
            max-width: 700px;
            height: 370px;
            margin: 20px auto 20px auto;

            box-shadow: 0px 0px 3px 0px black;
            padding: 20px;
            background-color: mintcream;
        }

        .mypost > button {
            margin-top: 15px;
            width: 660px;
        }

        .mycards {
            width: 95%;
            max-width: 500px;
            margin: auto;
            background-color: mintcream;
        }

        .mycards > .card {
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: mintcream;
            width: 500px;

        }

        body {
            height: 100vh;
            background-color: mintcream;
            background-size: cover;
        }

        #restroom_box {
            margin: 40px auto 40px auto;
            overflow: hidden;
            text-align: center;
            font-size: xx-large;

        }

        #map {
            height: 190px;
            /* The height is 400 pixels */
            width: 50%;
            /* The width is the width of the web page */
        }


    </style>
    <script>
        $(document).ready(function () {
            show_comment();
            show_restroomInfo();
            show_img();
        });

        function save_comment() {
            let name = $('#name').val()
            let comment = $('#comment').val()

            $.ajax({
                type: "POST",
                url: "/review",
                data: {'name_give': name, 'comment_give': comment},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        function show_comment() {
            // $('#comment-list').empty()
            $.ajax({
                type: "GET",
                url: "/review",
                data: {},
                success: function (response) {
                    let rows = response['comments']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let comment = rows[i]['comment']
                        let star = rows[i]['star']


                        let star_image = '⭐'.repeat(star)

                        let temp_html = `<div class="card">
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <p>${star_image}</p>
                                                    <p>${comment}</p>
                                                    <footer class="blockquote-footer">${name}</footer>
                                                </blockquote>
                                            </div>
                                        </div>`
                        $('#comment-list').append(temp_html)
                    }
                }
            });
        }

        function show_restroomInfo() {
            var url_string = window.location.href;
            var url = new URL(url_string);
            var param = url.searchParams.get("id");

            $('#restroom-box')
            $.ajax({
                type: "GET",
                url: "/detail?gu_names=" + param,
                data: {},
                success: function (response) {
                    let rows = response['details']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let address = rows[i]['address']


                        let temp_html = `<div class="row g-0">
                                            <div class="col-md-4">
                                                <img src="${url}" class="img-fluid rounded-start" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">${name}</h5>
                                                    <p class="card-text">${address}</p>
                                                    <p class="card-text"><small class="text-muted">지도?</small></p>
                                                </div>
                                            </div>
                                        </div>`
                        $('#restroom-box').append(temp_html)
                    }
                }
            });
        }

        function delete_review() {
            $.ajax({
                type: "POST",
                url: "/review",
                data: {},
                success: function (response) {
                    alert(response["msg"])
                }
            });
        }
    </script>

</head>
<body>

<div id="restroom_box" class="card mb-3" style="max-width: 1800px; witdth: 95%;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://cdn.pharmnews.com/news/photo/202008/101156_52033_4133.jpg" class="img-fluid rounded-start"
                 alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">화장실 이름</h1>
                <p class="card-text">주소가 들어 갑니다</p>
                <p class="card-text">
                <h3>위치를 보여주는 지도가 들어갑니다.</h3>
                <div id="map"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
                        async>

                </script>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="mypost">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="url" style="background-color: mintcream;">
        <label for="floatingInput">닉네임</label>
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">별점</label>
        <select class="form-select" id="star" style="background-color: mintcream;">
            <option selected>-- 선택하기 --</option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
    </div>
    <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="comment"
                      style="height: 150px; background-color: mintcream;"></textarea>
        <label for="floatingTextarea2">화장실 리뷰</label>
    </div>
    <button onclick="save_comment()" type="button" class="btn btn-dark">리뷰 남기기</button>
</div>
<div class="mycards" id="comment-list">
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>⭐⭐⭐⭐⭐</p>
                <p>리뷰가 여기 달립니다.</p>
                <footer class="blockquote-footer">닉네임</footer>
                <div style="display: flex;">
                    <div id="update_review" style="margin-right: 10px;">
                        <button type="button" class="btn btn-outline-info">수정</button>
                    </div>
                    <div id="btn-delete" onclick="delete_review()">
                        <button type="button" class="btn btn-outline-danger">삭제</button>
                    </div>

                </div>

            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>⭐⭐⭐⭐⭐</p>
                <p>리뷰가 여기 달립니다.</p>
                <footer class="blockquote-footer">닉네임</footer>
                <div style="display: flex;">
                    <div id="update_review" style="margin-right: 10px;">
                        <button type="button" class="btn btn-outline-info">수정</button>
                    </div>
                    <div id="delete_review">
                        <button type="button" class="btn btn-outline-danger">삭제</button>
                    </div>

                </div>

            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>⭐⭐⭐⭐⭐</p>
                <p>리뷰가 여기 달립니다.</p>
                <footer class="blockquote-footer">닉네임</footer>
                <div style="display: flex;">
                    <div id="update_review" style="margin-right: 10px;">
                        <button type="button" class="btn btn-outline-info">수정</button>
                    </div>
                    <div id="delete_review">
                        <button type="button" class="btn btn-outline-danger">삭제</button>
                    </div>

                </div>

            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>⭐⭐⭐⭐⭐</p>
                <p>리뷰가 여기 달립니다.</p>
                <footer class="blockquote-footer">닉네임</footer>
                <div style="display: flex;">
                    <div id="update_review" style="margin-right: 10px;">
                        <button type="button" class="btn btn-outline-info">수정</button>
                    </div>
                    <div id="delete_review">
                        <button type="button" class="btn btn-outline-danger">삭제</button>
                    </div>

                </div>

            </blockquote>
        </div>
    </div>


</div>
</body>
</html>