<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>임시 제목입니다.</title>
    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    {#태성 js import#}
    <script defer type="text/javascript" src="../static/js/ts_js.js"></script>
    {#태성 css import#}
    <link rel="stylesheet" href="../static/css/Ts_css.css">
</head>
<body class="img">

<section class="hero is-small is-info"> {#        여기      #}
    <div class="hero-body">
        <p class="title">
            화장실 리스트
        </p>
        <p class="subtitle">
            가까운 곳을 안내합니다.
        </p>
    </div>
</section>
<ul id="restroom_list" class="restroom_list_css">
</ul>
</body>
</html>